.icon {
  display: inline-block;
}

.icon-user {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../icons/icon-user.svg");
  background-position: center;
  background-repeat: no-repeat;
}
