.nav {
  @extend %flex;
}

.nav__item {
  padding: 0 15px;
  @extend %cursor-pointer;
  &:hover {
    color: $active-color;
    @extend %transition;
  }
}

.header-nav {
  margin: 0 25px 0 auto;
  color: $light-color;
}
