h1 {
  @include font(3rem, 5rem, 400);
  font-family: $ff-second;
  letter-spacing: 0.6px;
  color: $light-color;
}

h2 {
  @include font(4rem, 4rem, 400);
  font-family: $ff-second;
  letter-spacing: 0.2rem;
  color: $header-color;
}

h3 {
  @include font(1.5rem, 4rem, 700);
  letter-spacing: 2px;
}
