/* Color */

$light-color: #ffffff;
$dark-color: #000000;
$active-coor: #bb945f;
$header-color: #0c0c0e;
$input-color: #8e8e8e;

/* Fonts*/

$fs-main: "inter";
$fs-second: "forum";
$fs-thirst: "inter-bold";
