/* Color */
$light-color: #ffffff;
$dark-color: #000000;
$active-color: #bb945f;
$header-color: #0c0c0e;
$input-color: #8e8e8e;

/* Family */

$ff-main: "Inter";
$ff-second: "Forum";

/* Width */

$tablet-width: 768px;
$laptop-width: 1090px;
$mobile-big-width: 440px;
$mobile-small-width: 320px;
