/* Color */
$color1: #f4f4f4;
$color2: #3197ee;
$light-color: #ffffff;
$dark-color: #000000;
$active-color: #bb945f;
$header-color: #0c0c0e;
$input-color: #8e8e8e;

/* Family */

$ff-main: "Inter";
$ff-second: "Forum";
