.coffe-subtitle {
  letter-spacing: 0.2rem;
  padding: 0 0 4rem 0;
}

.menu-container {
  @extend %flex;
  flex-wrap: wrap;
  @extend %js-content-space-between;
  @include media-tablet {
    gap: 4rem;
  }
}

.drinks {
  max-width: 438px;
  width: 100%;
}

.menu-name {
  color: $active-color;
}

.menu-items {
  @extend %flex;
  @extend %flex-column;
  justify-content: center;
  gap: 40px;
  padding: 40px 0 0;
  @include media-mobile-big {
    gap: 10px;
  }
}

.menu-item {
  @extend %flex;
  @extend %al-items-center;
  @extend %js-content-space-between;
  gap: 60px;
  @include media-mobile-big {
    gap: 30px;
    font-size: 2vh;
  }
}

.menu-item__price {
  font-family: $ff-second;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

.menu-item__line {
  width: 100px;
  height: 1px;
  background: $active-color;
}

.deserts {
  max-width: 482px;
  width: 100%;
  @extend %flex;
  @extend %flex-column;
  @extend %al-items-center;
  @include media-tablet {
    align-items: end;
    margin-left: auto;
  }
}

.deserts-items {
  align-items: flex-end;
}

.drinks-item__title {
  max-width: 196px;
  width: 100%;
}
