.contacts-container {
  @extend %flex;
  @extend %js-content-space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contacts-info {
  @extend %flex;
  @extend %flex-column;
  gap: 40px;
}

.call-info {
  @extend %flex;
  @extend %flex-column;
  gap: 20px;
  padding: 40px 0 0;
}

.contact-call {
  color: $dark-color;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

.staff-info {
  @extend %flex;
  @extend %flex-column;
  gap: 20px;
}
.staff-position {
  font-weight: 400;
}
