/* Abstracts */ /* Color */
/* Family */
/* Width */
/* Fonts */
/* Meida quaries */
.social-list, .footer-copyright, .footer-top,
.footer-bottom, .reader-card, .library-card__info, .library-card__inner, .card-container, .staff-info, .call-info, .contacts-info, .contacts-container, .deserts, .menu-item, .menu-items, .menu-container, .book-radio-item, .book-radio-content, .book-order__cards, .book-order__inner, .book__seasons, .header-container, .nav.open, .nav, .slider-controls, .slider-line, body {
  display: flex;
}

.book-order__cards {
  flex-wrap: wrap;
}

.reader-card, .library-card__info, .library-card__inner, .staff-info, .call-info, .contacts-info, .deserts, .menu-items, .nav.open, body {
  flex-direction: column;
}

.footer-copyright, .footer-top,
.footer-bottom, .card-container, .contacts-container, .menu-item, .menu-container, .book-order__cards, body {
  justify-content: space-between;
}

.footer-copyright, .footer-bottom, .deserts, .menu-item, .header-container, .nav.open {
  align-items: center;
}

.hamburger, .button, .nav__item, .icon-user, .control {
  cursor: pointer;
}

.button, .subtitle, .title {
  text-align: center;
}

.button, .nav__item:hover, .control:hover, .control {
  transition: 0.5s ease-in-out;
}

/* Vendors */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  padding: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Base */
body {
  min-height: 100vh;
  font-family: "Inter";
  font-size: 2rem;
  line-height: 4rem;
  color: #000000;
  background: #ffffff;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  opacity: 0.5;
  background: #000000;
}

/*Basic styles*/
html {
  font-size: 100%;
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
  overflow: auto;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

section,
main,
footer,
header,
article {
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/inter.woff") format("woff"), url("../fonts/../fonts/inter.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/../fonts/inter-bold.woff") format("woff"), url("../fonts/../fonts/inter-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Forum";
  src: url("../fonts/../fonts/forum.woff") format("woff"), url("../fonts/../fonts/forum.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
h1 {
  font-size: 3rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
  font-family: "Forum";
  letter-spacing: 0.6px;
  color: #ffffff;
}

h2 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 400;
  font-style: normal;
  font-family: "Forum";
  letter-spacing: 0.2rem;
  color: #0c0c0e;
}

h3 {
  font-size: 3rem;
  line-height: normal;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2rem;
}

/*Utilities  */
.container {
  max-width: 1430px;
  padding-top: 20px;
  padding-inline: 15px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.title::after {
  display: block;
  width: 50px;
  height: 1px;
  content: "";
  margin: 20px auto 0;
  background: #0c0c0e;
}

.subtitle {
  color: #000000;
  padding: 40px 0 0;
}

/* Components */
.slider {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  max-width: 1400px;
  width: 100%;
  padding: 20px 0 0;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .slider {
    max-width: 450px;
    margin: 0 auto;
  }
}

.slider-line {
  gap: 1rem;
}

.slider-controls {
  max-width: 68px;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
}
@media (max-width: 1024px) {
  .slider-controls {
    max-width: 120px;
  }
}

.control {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000000;
}
.control:hover {
  background: #bb945f;
}
.control--active {
  background: #bb945f;
}
.control--mobile {
  display: none;
}
@media (max-width: 1024px) {
  .control--mobile {
    display: block;
  }
}

.icon {
  display: inline-block;
}

.icon-user {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../icons/icon-user.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 100;
}

@media (max-width: 1024px) {
  .nav {
    display: none;
  }
}
.nav.open {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 332px;
  max-height: 540px;
  z-index: 1;
  background: #000000;
}

.nav.open {
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  gap: 3rem;
  padding-top: 10rem;
  font-size: 2rem;
}

.nav__item {
  padding: 0 15px;
}
.nav__item:hover {
  color: #bb945f;
}

.header-nav {
  margin: 0 25px 0 auto;
  color: #ffffff;
}

.button {
  padding: 9px 27px;
  background: transparent;
  color: #0c0c0e;
  font-family: "Inter", "Verdana";
  font-size: 1rem;
  line-height: normal;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1rem;
  border: 1px solid #000000;
}
.button:hover {
  border-color: #bb945f;
  color: #bb945f;
}
.hamburger__line, .hamburger:after, .hamburger:before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #ffffff;
}

.header-hamburger {
  margin-left: 20px;
}

.hamburger {
  display: none;
  position: relative;
  width: 45px;
  height: 20px;
  user-select: none;
  z-index: 100;
}
.hamburger.open::before {
  transform: rotate(-45deg) translate(-2px, 8px);
}
.hamburger.open::after {
  transform: rotate(45deg) translate(-6px, -10px);
}
@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }
}
.hamburger:before {
  top: 0;
  left: 0;
}
.hamburger:after {
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc(50% - 1.5px);
}
.hamburger__line.open {
  display: none;
}

/* Layout  */
.header {
  background: #0c0c0e;
}

.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero {
  background-image: linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.1) 100%), url("../images/bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  padding: 220px 0 160px;
}

.hero-content {
  max-width: 600px;
  width: 100%;
  background: #000000;
}

.hero-content__title {
  max-width: 520px;
  width: 100%;
  padding: 35px 40px;
  color: #ffffff;
  line-height: 5rem;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  text-align: center;
}

.book-radio__title {
  font-weight: 700;
}

.book-order__pick-active {
  font-weight: 700;
}

.book-order__description, .book-order__staff {
  font-size: 1.5rem;
  line-height: 4rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

.book-order__inner {
  flex-direction: column;
  gap: 4rem 0;
}

.book-order__cards {
  gap: 40px 0;
}

.book-order__card {
  position: relative;
  max-width: 550px;
  width: 100%;
  border: 1px solid #000000;
  padding: 15px 0 15px 20px;
}

.book-order__staff {
  font-size: 2rem;
  font-family: "Forum";
}
.book-order__staff::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: #bb945f;
}

.book-order__title {
  font-size: 1.5rem;
}

.book-order__description {
  max-width: 355px;
  width: 100%;
}

.book-order__img {
  position: absolute;
  bottom: 0;
  right: -30px;
}

.book-radio-content {
  gap: 90px;
}

.book-radio-item {
  gap: 20px;
}

.book-radio-item [type=radio] {
  position: absolute;
  opacity: 0;
}
.book-radio-item [type=radio] + .radio-label:before {
  content: "";
  background: none;
  border-radius: 100%;
  border: 2px solid #000000;
  display: inline-block;
  width: 17px;
  height: 17px;
  position: relative;
  top: calc(50% - 8px);
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.book-radio-item [type=radio]:checked + .radio-label:before {
  background-color: #000000;
  box-shadow: inset 0 0 0 4px #ffffff;
}
.book-radio-item [type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #000000;
}
.book-radio-item [type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #ffffff;
  border-color: #bfbfbf;
  background: #bfbfbf;
}
.book-radio-item [type=radio] + .radio-label:empty:before {
  margin-right: 0;
}

.radio-label--active {
  font-weight: 700;
}

.coffe-subtitle {
  letter-spacing: 0.2rem;
}

.drinks {
  max-width: 438px;
  width: 100%;
}

.menu-name {
  color: #bb945f;
}

.menu-items {
  justify-content: center;
  gap: 40px;
  padding: 40px 0 0;
}

.menu-item {
  gap: 60px;
}

.menu-item__price {
  font-family: "Forum";
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

.menu-item__line {
  width: 100px;
  height: 1px;
  background: #bb945f;
}

.deserts {
  max-width: 482px;
  width: 100%;
}

.deserts-items {
  align-items: flex-end;
}

.drinks-item__title {
  max-width: 196px;
  width: 100%;
}

@media (max-width: 1024px) {
  .about__subtitle {
    max-width: 728px;
    width: 100%;
    margin: 0 auto;
  }
}

.contacts-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.contacts-info {
  gap: 40px;
}

.call-info {
  gap: 20px;
  padding: 40px 0 0;
}

.contact-call {
  color: #000000;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

.staff-info {
  gap: 20px;
}

.staff-position {
  font-weight: 400;
}

.library-card {
  max-width: 600px;
  width: 100%;
}

.library-card__title {
  margin-bottom: 20px;
}

.library-card__name {
  margin-bottom: 30px;
}

.library-card__inner {
  padding: 20px 20px 30px;
  border: 3px solid #bb945f;
  gap: 20px;
}

.library-card__info {
  max-width: 560px;
  width: 100%;
  background: #bb945f;
  line-height: 5rem;
  padding: 20px 20px 25px;
}

.library-card__name {
  font-family: "Forum";
}

.reader-card {
  gap: 35px;
  text-align: right;
  max-width: 456px;
  width: 100%;
}

.reader-card__text {
  line-height: 4rem;
  letter-spacing: 0.04rem;
}

.reader-card__title {
  font-family: "Forum";
}

.card__input {
  background: #ffffff;
  border-radius: 1rem;
  border: 0;
  padding: 8px 0 8px 20px;
  color: #8e8e8e;
  font-size: 3rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
  font-family: "Forum";
  letter-spacing: 0.6px;
}
.card__input::-moz-placeholder {
  color: #8e8e8e;
}

.card__input:first-of-type {
  margin-bottom: 25px;
}

.card__button {
  margin: 0 auto;
  padding: 10px 40px;
}

.footer {
  background: #0c0c0e;
  color: #ffffff;
}

.footer-container {
  padding-bottom: 35px;
}

.footer-main {
  border-bottom: #ffffff 1px solid;
  padding: 0 0 38px 0;
}

.footer-addres {
  max-width: 230px;
}

.footer-addres,
.footer-info {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
}

.footer-info {
  max-width: 150px;
  text-align: right;
}

.footer-bottom {
  padding: 10px 0 0;
  line-height: 2rem;
}

.footer-copyright {
  padding: 44px 0 0;
  line-height: 2rem;
}

.social-list {
  gap: 15px;
}

.footer-user {
  line-height: 4rem;
}

/*# sourceMappingURL=main.css.map */
